/* Header Settings */

$header-top-height: 40px;
$header-height: 86px; 
$header-total-height: $header-top-height + $header-height;
$top-header-backgound: rgba(0,0,0,.3);



/* Footer Settings */
$footer-background: #424242;
$footer-border-top-color: #292929;
$footer-color: #999999;
